.SingleCharacte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    h1 {
        margin-bottom: 50px;
        font-size: 48px;
        line-height: 56px;
    }
}

.cardImage {
    margin: 20px;
    border-radius: 50%;
    width: 30%;
    object-fit: cover;
}
.allInformations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    width: 50%;
}
.cardInformations {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-bottom: 25px;
}
.characterInformations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--main-subtitleCard-color);
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: var(--main-titleCard-color);
    }
}
.cardEpisodes {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    height: 300px;
    line-height: 24px;
    color: var(--main-subtitleCard-color);
    overflow: auto;
    div {
        font-size: 14px;
        line-height: 20px;
    }
}
.title {
    display: flex;
    justify-content: space-around;

    h2 {
        filter: var(--main-boxShadow-drop);
        font-weight: 600;
        font-size: 20px;
        color: var(--main-titleCard-color);
    }
}
