.characters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    & > img {
        width: 600px;
        height: 200px;
    }
}
.charactersCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

