.baseNavlink {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-gradBack-color);
    border: 3px solid var(--main-box-color);
    border-radius: 5px;
    flex: 1;
    padding: 0 5px;
    height: 100%;
}

.activeNavlink {
    background: var(--main-blueCharacter-color);
}
