.characters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    a {
        font-size: 1em;
    }

    .filter {
        display: flex;
        justify-content: center;
        width: 92%;
    }
}
.charactersCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
