.backButton {
    height: 24px;
    width: 108px;
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    background-color: white;
    border: 0ch;
}
