.backButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9%;
    font-family: "Karla";
    font-weight: 700;
    font-size: 18px;
    background-color: var(--main-gradBack-color);
    border: 0;
    position: absolute;
    height: 24px;
    left: 209px;
    top: 102px;
}
