.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    box-shadow: -2px 0px 8px 3px var(--main-box-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.link {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
