.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    box-shadow: -2px 0px 8px 3px var(--main-box-color);
}
.link {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 40px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--main-gradBack-color);
        border: 3px solid var(--main-box-color);
        border-radius: 5px;
        width: 80%;
        height: 100%;
       
    }
}
