.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    box-shadow: -2px 0px 8px 3px var(--main-box-color);
}
.link {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}
