.Card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--main-bg-color);
    width: 240px;
    border-radius: 7px;
    box-shadow: 0px 5px 8px -3px var(--main-box-color);
    overflow: hidden;
    text-decoration: none;

    img {
        width: 100%;
        object-fit: cover;
    }
}
.CardImage {
    color: var(--main-text-color);
    h1 {
        font-size: 1em;
        padding-left: 16px;
        padding-top: 12px;
    }
    h2 {
        font-size: 0.8em;
        padding-left: 16px;
        padding-bottom: 12px;
    }
}
