.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #efefef;
    width: 240px;
    min-height: 128px;
    border-radius: 7px;
    box-shadow: 0px 5px 8px -3px var(--main-box-color);
    overflow: hidden;
    font-style: normal;
    font-family: "Roboto";
    text-decoration: none;
    h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
    }
    h2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.6);
    }
    h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.6);
    }
    img {
        width: 240px;
    }
}
.CardImage {
    min-height: 244px;
    align-items: flex-start;
    h1 {
        padding-left: 16px;
        padding-top: 12px;
        gap: 1px;
    }
    h2 {
        padding-left: 16px;
        padding-bottom: 12px;
        gap: 1px;
    }
}
